.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  text-align: center;
  /* margin-top: 25px;*/
  /*margin-bottom: 50px;*/
}

header {
  position: sticky;
  top: 0;
  background-color: #f7f7f7;
  border: 2px solid black;
}

h2 {
  font-size: 20px;
}

.imagem {
  object-fit: contain;
  object-position: center;
  height: 100px;
  width: 100px;
}

section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
}

article {
  border: 2px solid black;
  margin: 10px 0px;
  height: 20rem;
  width: 20rem;
}

article {
  text-align: center;
}

article {
  background-color: #91def3;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
